/* 게시판 글쓰기 */
.write {
    width: 700px; margin: 0 auto;
    border-top: 3px solid gray; border-bottom: 3px solid gray;
}
.write input {width: 676px; padding: 10px; margin: 12px auto 0;}
.write .text {table-layout: fixed;
    height: 300px; white-space: pre-line; word-break: break-all;
}
.write .button {padding: 0 200px; margin: 15px auto;}
.write .button a {
    border: 1px solid black; background: gainsboro;
    margin: 10px; padding: 5px;
    text-decoration: none; color: black;
}
.write .button a:hover {color: blueviolet;}
.write p {text-align: center;}