<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
    <link href="../static/css/mypageStyle.css" rel="stylesheet"/>
</head>
<body>
<form action="mypage" method="GET">
<HEADER>
<!-- 공통된 헤더 구현한다면 여기에 삽입 -->
</HEADER>
    <script>
        $(document).ready(function() {
            $.get("/api/user/mypage/username", function(username) {
                $("#username").text(username);
            });
        });
    </script>
<main>
    <section class="sc-fTxOGA gxcKhf">
        <!-- <div class="thumbnail-area"><img
                src="https://velog.velcdn.com/images/ayoung3052/profile/f01e7f72-3933-457b-bc16-ba4d67068196/image.jpg"
                alt="profile">
            <button color="teal" class="sc-jrQzAO iGivNa">이미지 업로드</button>
            <button color="transparent" class="sc-jrQzAO cFunXL">이미지 제거</button>
        </div> -->
        <div class="info-area"><h2>ayboori</h2> <!--nickname 읽어오기-->
            <p>프로 개발자가 되기 위해 뚜벅뚜벅.. 뚜벅초</p> <!--한줄소개-->
        </div>
    </section>
    <section class=username">
        <div class="wrapper">
            <div class="title-wrapper"><h3>사용자 아이디</h3></div>
            <div class="contents">ayoung3052</div> <!-- username 읽어오기 -->
        </div>
        <div class="description">회원 로그인 시 입력하는 아이디 입니다.</div>
        </div>
    </section>
    <section class="password">
        <div class="wrapper">
            <div class="title-wrapper"><h3>비밀번호</h3></div>
            <div class="contents">비밀번호 값은 공개되지 않습니다.</div>
            <div class="description">회원 로그인 시 사용하는 비밀번호 입니다. 변경 시 현재 비밀번호를 다시 입력받습니다.</div>
        </div>
    </section>
    <section class="email">
        <div class="wrapper">
            <div class="title-wrapper"><h3>이메일 주소</h3></div>
            <div class="contents">ayoung3052@gmail.com</div>
            <div class="description">회원 인증 또는 시스템에서 발송하는 이메일을 수신하는 주소입니다.</div>
        </div>
    </section>
    <div class="edit-wrapper">
        <button class="sc-Galmp jRMKwK">수정</button>
    </div>
</main>

</body>
</html>


